In [6]:
def f(x,y,z):
    if(x>=y and x>=z):
        return(x)
    elif(y>=x and y>=z):
        return(y)
    else:
        return(z)
f(20,35,19)

35

In [16]:
def calculation(x, y):
    a = x + y
    b = x - y
    return(a, b)
calculation(40 , 10)

(50, 30)

In [7]:
def calculation():
    x = input()
    x = int(x)
    y = input()
    y = int(y)
    a = x + y
    b = x - y
    return(a, b)
calculation()
# Autre methode

40
10

(50, 30)

In [24]:
def somme(l):
    
    a = 0
    for m in l:
        a += m
    return(a) 
somme([2, 4, 5, 6])

17

In [23]:
def multiplication(l):
    
    a = 1
    for m in l:
        a *= m
    return(a) 
multiplication([2, 4, 5, 6])

240

In [29]:
def sommemultliste(l):
    liste_somme = []
    liste_multiplication = []
    for i in range (len(l)):
        if i % 2 == 0:
            liste_somme.append(l[i])
        else:
             liste_multiplication.append(l[i])
  

    s = somme(liste_somme)
    m = multiplication(liste_multiplication)
    return (s, m)
sommemultliste([2, 4, 5, 6])

(7, 24)

In [54]:
c = 'green-red-yellow-black-white'
def ex4(w):
    
    new_c = w.split('-')
    new_c.sort()
    
    a ='-'.join(new_c)
    return(a)
print(ex4(c))

black-green-red-white-yellow

In [57]:
from math import sqrt
def calculate_Q_seq(D):
    Q = lambda c, d, h: sqrt((2*c*d)/h)
    D_int = list(map(int, D.split(',')))
    D_int = [Q(50, d, 30)for d in D_int]
    D_int = list(map(int, D_int))
    D_int = ','.join(map(str, D_int))
    return (D_int)
D = input ('donner une sequence de nombre separes par des virgules: ')
print(calculate_Q_seq(D))

donner une sequence de nombre separes par des virgules: 100,150,180
18,22,24